/* Frame 153 */
.Frame153 {
  /* オートレイアウト */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: relative;
  width: 856px;
  height: 733px;
  left: 323px;
  top: 409px;
}

.card {
  /* Frame 149 */

  box-sizing: border-box;

  /* オートレイアウト */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 32px;

  width: 856px;
  height: 121px;

  border: 1px solid #b78f00;
  border-radius: 8px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.stack {
  /* Frame 148 */

  /* オートレイアウト */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 328px;

  width: 792px;
  height: 73px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.left {
  /* Frame 147 */

  /* オートレイアウト */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 0px;

  width: 317px;
  height: 50px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.leftTop {
  /* Frame 19 */

  /* オートレイアウト */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 317px;
  height: 30px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.idBox {
  /* Product ID */

  /* オートレイアウト */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 95px;
  height: 30px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.id {
  width: 95px;
  height: 30px;

  font-family: "Sawarabi Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* ボックスの高さと同一、または30px */
  letter-spacing: -0.022em;

  color: #000000;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.name {
  /* ワンストリーム */

  width: 317px;
  height: 25px;

  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 10px;
  /* ボックスの高さと同一、または142% */
  letter-spacing: 5px;

  color: #000000;

  /* オートレイアウト内部 */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.right {
  /* Frame 146 */

  /* オートレイアウト */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 15px;

  width: 162px;
  height: 52px;

  /* オートレイアウト内部 */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.rightTop {
  /* Frame 144 */

  /* オートレイアウト */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px;
  gap: 10px;

  width: 162px;
  height: 29px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.matchRate {
  /* 総合関連度 */

  width: 84px;
  height: 18px;

  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 111%;
  /* ボックスの高さと同一、または18px */
  letter-spacing: 0.05em;

  color: #000000;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.numberPercent {
  /* Frame 143 */

  /* オートレイアウト */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 7px;

  width: 52px;
  height: 29px;

  /* オートレイアウト内部 */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.number {
  /* 92 */

  width: 32px;
  height: 29px;

  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 92%;
  /* または29px */
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.05em;

  color: #000000;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.percent {
  /* % */

  width: 13px;
  height: 18px;

  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 111%;
  /* ボックスの高さと同一、または18px */
  letter-spacing: 0.05em;

  color: #000000;

  /* オートレイアウト内部 */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.graghBox {
  /* Progress Indicatior */

  /* オートレイアウト */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 162px;
  height: 8px;

  /* Neutral/Gray 20 */
  background: #e0e0e0;
  border-radius: 64px;

  /* オートレイアウト内部 */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.gragh {
  /* Indicator */

  width: 136px;
  height: 8px;

  background: #b78f00;
  border-radius: 64px;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
}
