.text {
  position: absolute;
  width: 751px;
  height: 68px;
  left: 345px;
  top: 128px;

  font-family: "Hina Mincho";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  /* または212% */
  text-align: center;
  letter-spacing: 5px;

  color: #000000;
}
